{{ header }}{{ column_left }}
<div id="content" style="font-size: 14px">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
            <div class="pull-right">
                <button type="submit" form="form-setting" name="save" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary"><i class="fa fa-save"></i></button>

                <!--      <a href="{{ save }}" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i
                            class="fa fa-save"></i></a>
               <button type="button" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-review').submit() : false;"><i
                            class="fa fa-trash-o"></i></button>
            </div> -->

            </div>
        </div>
        <div class="container-fluid">{% if error_warning %}
                <div class="alert alert-danger alert-dismissible"><i
                            class="fa fa-exclamation-circle"></i> {{ error_warning }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            {% if success %}
                <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endif %}
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                        </div>
                        <div class="panel-body">

                            <div class="table-responsive">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#setting">Setting</a></li>
                                    <li><a data-toggle="tab" href="#custom_settings">Сustom settings</a></li>
                                    <li><a data-toggle="tab" href="#design">Design</a></li>
                                    <li><a data-toggle="tab" href="#history">History & Suggestion</a></li>

                                </ul>

                                <form action="{{ save }}" method="post" id="form-setting">
                                    <div class="tab-content">
                                        <div id="setting" class="tab-pane fade in active">
                                            <h3>Setting</h3>

                                            <div class="form-group required">
                                                <input type="hidden" name="setting_id" value="{{ setting.setting_id }}">
                                                <div class="form-check">
                                                    <input class="form-input" type="radio" name="setting_status"
                                                           value="0"
                                                            {% if setting_input.setting_status == 0 %} checked {% endif %}
                                                           >
                                                    <input class="form-input" type="radio" name="setting_status"
                                                           value="1"
                                                            {% if setting_input.setting_status == 1 %} checked {% endif %}
                                                          >
                                                    <label class="form-check-label" for="setting_status">
                                                        Status
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="form-group">
                                                    <label for="setting_min_symbol">Min symbol</label>
                                                    <input type="number" class="form-control" id="setting_min_symbol" name="setting_min_symbol"
                                                           value="{{ setting_input.setting_min_symbol }}"

                                                           placeholder="Enter min symbol" min="0" max="10">
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <div class="form-check">
                                                    <input class="form-input" type="radio" name="setting_suggestions"
                                                           value="0"
                                                           {% if setting_input.setting_suggestions == 0 %} checked{% endif %}
                                                          >
                                                    <input class="form-input" type="radio" name="setting_suggestions"
                                                           value="1"
                                                           {% if setting_input.setting_suggestions == 1 %} checked{% endif %}
                                                           >
                                                    <label class="form-check-label" for="setting_suggestions">
                                                        Suggestions
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="custom_settings" class="tab-pane fade">
                                            <h3>Сustom settings </h3>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <a data-toggle="collapse" href="#category_ajax" role="button"
                                                       aria-expanded="false" aria-controls="collapseExample">
                                                        Category
                                                    </a>
                                                    <div class="collapse" id="category_ajax">
                                                        <div class="card card-body">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="category_name" value="0"
                                                                        {% if category_input.category_name == 0 %} checked {% endif %}
                                                                       >
                                                                <input class="form-check-input" type="radio"
                                                                       name="category_name" value="1"
                                                                        {% if category_input.category_name == 1 %} checked {% endif %}
                                                                       >
                                                                <label class="form-check-label" for="category_name">
                                                                    name
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="category_meta_title" value="0"
                                                                        {% if category_input.category_meta_title == 0 %} checked {% endif %}

                                                                       >
                                                                <input class="form-check-input" type="radio"
                                                                       name="category_meta_title" value="1"
                                                                        {% if category_input.category_meta_title == 1 %} checked {% endif %}
>
                                                                <label class="form-check-label"
                                                                       for="category_meta_title">
                                                                    meta title
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <p>
                                                        <a data-toggle="collapse" href="#information_ajax" role="button"
                                                           aria-expanded="false" aria-controls="collapseExample">
                                                            Information
                                                        </a>

                                                    </p>
                                                    <div class="collapse" id="information_ajax">
                                                        <div class="card card-body">

                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_title" value="0"
                                                                        {% if information_input.information_title == 0 %} checked {% endif %}

                                                                      >
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_title" value="1"
                                                                        {% if information_input.information_title == 1 %} checked {% endif %}

                                                                       >
                                                                <label class="form-check-label" for="information_title">
                                                                    title
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_description" value="0"
                                                                        {% if information_input.information_description == 0 %} checked {% endif %}

                                                                       >
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_description" value="1"
                                                                        {% if information_input.information_description == 1 %} checked {% endif %}

                                                                       >
                                                                <label class="form-check-label"
                                                                       for="information_description">
                                                                    description
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_meta_title" value="0"
                                                                        {% if information_input.information_meta_title == 0 %} checked {% endif %}

                                                                      >
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_meta_title" value="1"
                                                                        {% if information_input.information_meta_title == 1 %} checked {% endif %}

                                                                      >
                                                                <label class="form-check-label"
                                                                       for="information_meta_title">
                                                                    meta title
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_meta_description" value="0"
                                                                        {% if information_input.information_meta_description ==0 %} checked {% endif %}

                                                                       >
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_meta_description" value="1"
                                                                        {% if information_input.information_meta_description == 1 %} checked {% endif %}

                                                                       >
                                                                <label class="form-check-label"
                                                                       for="information_meta_description">
                                                                    meta description
                                                                </label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_meta_keyword" value="0"
                                                                        {% if information_input.information_meta_keyword == 0 %} checked {% endif %}

                                                                       >
                                                                <input class="form-check-input" type="radio"
                                                                       name="information_meta_keyword" value="1"
                                                                        {% if information_input.information_meta_keyword == 1 %} checked {% endif %}

                                                                       >
                                                                <label class="form-check-label"
                                                                       for="information_meta_keyword">
                                                                    meta keyword
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <p>
                                                        <a data-toggle="collapse" href="#manufacturer_ajax"
                                                           role="button" aria-expanded="false"
                                                           aria-controls="collapseExample">
                                                            Manufacturer
                                                        </a>

                                                    </p>
                                                    <div class="collapse" id="manufacturer_ajax">
                                                        <div class="card card-body">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="radio"
                                                                       name="manufacturer_name" value="0"
                                                                        {% if manufacturer_input.manufacturer_name == 0 %} checked {% endif %}

                                                                       >
                                                                <input class="form-check-input" type="radio"
                                                                       name="manufacturer_name" value="1"
                                                                        {% if manufacturer_input.manufacturer_name == 1 %} checked {% endif %}

                                                                       >
                                                                <label class="form-check-label" for="manufacturer_name">
                                                                    name
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item">
                                                    <p>
                                                        <a data-toggle="collapse" href="#product_ajax" role="button"
                                                           aria-expanded="false" aria-controls="collapseExample">
                                                            Product
                                                        </a>

                                                    </p>
                                                    <div class="collapse" id="product_ajax">
                                                        <div class="card card-body">
                                                            {% for input in product_inputs %}

                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio"
                                                                           name="product_{{ input.id }}"
                                                                           value="0"
                                                                            {% if input.value == 0  %} checked {% endif %}
                                                                           >
                                                                    <input class="form-check-input" type="radio"
                                                                           name="product_{{ input.id }}"
                                                                           value="1"
                                                                            {% if input.value == 1  %} checked {% endif %}
                                                                           >
                                                                    <label class="form-check-label"
                                                                           for="product_{{ input.id }}">
                                                                        {{ input.name }}
                                                                    </label>
                                                                </div>
                                                            {% endfor %}

                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>


                                        </div>
                                        <div id="design" class="tab-pane fade">
                                            <h3>Design</h3>
                                            <div class="form-check">
                                                <label class="form-check-label"
                                                       for="desing_max_numbers">
                                                    Max Number of results
                                                </label>
                                                <input type="number" class="form-control" id="desing_max_numbers"
                                                       name="desing_max_numbers" value="{{ desing_input.desing_max_numbers }}"

                                                       placeholder="Enter max numbers" min="5" max="10">
                                            </div>


                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="desing_links"
                                                       value="0"
                                                        {% if desing_input.desing_links == 0 %} checked {% endif %}

                                                       >
                                                <input class="form-check-input" type="radio"
                                                       name="desing_links"
                                                       value="1"
                                                        {% if desing_input.desing_links == 1 %} checked {% endif %}

                                                       >
                                                <label class="form-check-label"
                                                       for="desing_links">
                                                    Show more results link
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="desing_price"
                                                       value="0"
                                                        {% if desing_input.desing_price == 0 %} checked {% endif %}

                                                       >
                                                <input class="form-check-input" type="radio"
                                                       name="desing_price"
                                                       value="1"
                                                        {% if desing_input.desing_price == 1 %} checked {% endif %}

                                                      >
                                                <label class="form-check-label"
                                                       for="desing_price">
                                                    Display product price
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       name="desing_image"
                                                       value="0"
                                                        {% if desing_input.desing_image == 0 %} checked {% endif %}

                                                       >
                                                <input class="form-check-input" type="radio"
                                                       name="desing_image"
                                                       value="1"
                                                        {% if desing_input.desing_image == 1 %} checked {% endif %}

                                                       >
                                                <label class="form-check-label"
                                                       for="desing_image">
                                                    Display product image
                                                </label>
                                            </div>
                                        </div>
                                        <div id="history" class="tab-pane fade">
                                            <h3>History & Suggestion</h3>
                                        </div>

                                    </div>

                                </form>
                            </div>


                            <div class="row">
                                <div class="col-sm-6 text-left">{{ pagination }}</div>
                                <div class="col-sm-6 text-right">{{ results }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript"><!--
            $('#button-filter').on('click', function () {
                url = 'index.php?route=catalog/review&user_token={{ user_token }}';

                var filter_product = $('input[name=\'filter_product\']').val();

                if (filter_product) {
                    url += '&filter_product=' + encodeURIComponent(filter_product);
                }

                var filter_author = $('input[name=\'filter_author\']').val();

                if (filter_author) {
                    url += '&filter_author=' + encodeURIComponent(filter_author);
                }

                var filter_status = $('select[name=\'filter_status\']').val();

                if (filter_status !== '') {
                    url += '&filter_status=' + encodeURIComponent(filter_status);
                }

                var filter_date_added = $('input[name=\'filter_date_added\']').val();

                if (filter_date_added) {
                    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
                }

                location = url;
            });
            //--></script>
        <script type="text/javascript"><!--
            $('.date').datetimepicker({
                language: document.cookie.match(new RegExp('language=([^;]+)'))[1],
                pickTime: false
            });
            //--></script>
    </div>
{{ footer }}